body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(90deg, #709aaa);
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sectionLogin {
    background-color: #FFFFFF;
    border-radius: 8px;
}

.articleLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sectionRegister {
    background-color: #FFFFFF;
    border-radius: 8px;

}

.articleRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;


}

.articleHigh {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.articleMid {
    display: flex;
    flex-direction: column;
}

.articleMid2 {
    display: flex;
    flex-direction: column;
}

.articleLow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.articleHigh_h1 {
    margin: 0px;
}

.articleHigh_p {
    margin: 0px;
}

.input {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid black;
}

.sign {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid black;
}

a {
    text-decoration: none;
}